<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Vis
    body(style="width:100%;height:100%;")
        canvas#mainCanvas(width="500",height="500",style="background-color:MidnightBlue;")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
        script(src="https://code.createjs.com/easeljs-0.8.2.min.js")
        script(src="scripts/app.js")